<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :person, prompt: "Select a person" %>
    <%= f.input :register %>
    <%= f.input :salary %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
