<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @refinancing.employee.person.name %>
</p>

<p>
  <strong>Register:</strong>
  <%= @refinancing.employee.register %>
</p>

<p>
  <strong>Contract number:</strong>
  <%= @refinancing.contract_number %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @refinancing.situation %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @refinancing.total_value %>
</p>

<p>
  <strong>Parcel value:</strong>
  <%= @refinancing.parcel_value %>
</p>

<p>
  <strong>Qtd parcel:</strong>
  <%= @refinancing.qtd_parcel %>
</p>

<%= console %>